@import "functions";
@import "typography";
@import "vars";

.main-works {

  width: var(--inner-container-width);
  margin:  0 auto em(40px) auto;
  border-bottom: 1px solid #e7e7e7;

  .works-title {
    padding: em(60px);
    font-family: var(--primary-font), sans-serif;
    text-align: center;

    h2 {
      margin: 0;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .works-items {

    margin: 0 auto;
    color: #d2d1d1;

    .work {

      width: em(320px);
      height: em(240px);
      margin-bottom: em(60px);
      background-color: #f7f7f7;
      background-size: cover;
      position: relative;
      box-shadow: 3px 3px 5px 0 rgba(205,206,230,1);
      transition: all 1.5s;

      .work-content {

        text-align: center;

        span.brand {
          font-size: 25px;
          font-weight: 700;
          font-style: italic;
          text-transform: uppercase;
        }

        span.tag {
          font-size: 10px;
          font-weight: 300;
        }
      }

      .work-link {
        display: none;
        width: 100%;
        height: 60px;
        background-color: rgba(59, 59, 59, 0.85);
        position: absolute;
        bottom: 0;
        color: #7FCADF;
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 60px;


        a {

          span {
            padding-left: 5px;
          }
        }
      }

      &:hover {
        .work-link {
          display: block;
        }
      }
    }

    .work1 {
      background: url("../assets/img/calc3.jpg") center no-repeat;
    }

    .work2 {
      background: url("../assets/img/Minesweeper-logo.png") center no-repeat;
      background-size: cover;
    }

    .work3 {
      background: url("../assets/img/cars.jpeg") center no-repeat;
    }

    .work4 {
      background: url("../assets/img/touch.jpg") center no-repeat;
      background-size: cover;
    }

    .work5 {
      background: url("../assets/img/books.jpg") center no-repeat;
    }

    .work6 {
      //background: url("../assets/img/books.jpg") center no-repeat;
    }

  }
}
