$container-width: 1500px;
$mobile-breakpoint: 642px;

:root {
  /* Layout */
  --container-width: 100%;
  --inner-container-width: 80%;
  /* Fonts */
  --primary-font: Open Sans;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #4d4d4d;
  --sections-bg: #f0f0f0;
}


